@model IEnumerable<HRBoost.Entity.Expense>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Harcama Sayfası</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">WELCOME Business Manager</li>
    </ol>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title"><i class="icon-menu"></i> Harcama Listesi</h6>
        </div>
        <div class="panel-body">


            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th>Ad</th>
                        <th>Miktar</th>
                        <th>Açıklama</th>
                        <th>Durum</th>
                        <th>Personel</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var expense in Model)
                    {
                        <tr>
                            <td>@expense.Name</td>
                            <td>@expense.Quantity</td>
                            <td>@expense.Description</td>
                            <td>@expense.Status</td>
                            <td>@expense.CreatedBy</td>
                            @if (expense.Status == HRBoost.Shared.Enums.Status.Pending)
                            {
                                <td>
                                    <a asp-action="Approve" asp-controller="Expense" asp-area="BusinessManager" asp-route-id="@expense.Id" class="btn btn-dark">Onay</a>
                                    <a asp-action="Delete" asp-controller="Expense" asp-area="BusinessManager" asp-route-id="@expense.Id" class="btn btn-danger">Reject</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a asp-controller="Home" asp-action="Index" asp-area="BusinessManager" class="btn btn-secondary">Geri</a>
