@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<HRBoost.Entity.FileType>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Dosya Türleri
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Adı</th>
                    <th>Açıklaması</th>
                    <th>Durumu</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Adı</th>
                    <th>Açıklaması</th>
                    <th>Durumu</th>
                    <th>İşlem</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var file in Model)
                {
                    <tr>
                        <td>@file.Name</td>
                        <td>@file.Description</td>
                        <td>@file.Status</td>
                        <th>
                            <a asp-action="Delete" asp-controller="FileType" asp-area="Admin" asp-route-id="@file.Id" class="btn btn-danger">Sil</a>
                            <a asp-action="Update" asp-controller="FileType" asp-area="Admin" asp-route-id="@file.Id" class="btn btn-warning">Güncelle</a>
                        </th>

                    </tr>
                }


            </tbody>
        </table>
        <a asp-action="Add" asp-controller="FileType" asp-area="Admin" class="btn btn-primary">Yeni Dosya Türü Ekle</a>
        <a asp-action="Index" asp-controller="Admin" asp-area="Admin" class="btn btn-secondary">Geri</a>
    </div>
</div>

