@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HRBoost.UI.Areas.Personel.Models.PersonelVM
@{
    ViewData["Title"] = "Index";

    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Personel</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">WELCOME</li>
    </ol>

    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Harcamalarım</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-controller="Expenses" asp-action="Index" asp-area="Personel">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Zimmetlerim</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-controller="Debit" asp-action="List" asp-area="Personel">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">İzinlerim</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-controller="PermissionRequest" asp-action="Index" asp-area="Personel">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Özlük</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-controller="Document" asp-action="Index" asp-area="Personel">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>

  
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title font-weight-bold">Toplam İzinler</h5>
                    <p class="card-text display-6 text-muted">20 Gün</p>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title font-weight-bold">Kalan İzinler</h5>
                    <p class="card-text display-6 text-muted">@(20 - Model.permissionDuration) Gün</p>
                </div>
            </div>
        </div>
    </div>

   
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title font-weight-bold">Onaylanmış Harcamalar</h5>
                    <p class="card-text display-6 text-muted">@Model.approvedExpense₺</p>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title font-weight-bold">Onay Bekleyen Harcamalar</h5>
                    <p class="card-text display-6 text-muted">@Model.pendingExpense₺</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Resmi Tatiller
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Ad</th>
                        <th>Tarih</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var holiday in Model.holidays)

                    {
                        <tr>
                            <td>@holiday.title</td>
                            <td>@holiday.localeDateString</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .card {
        border-radius: 10px;
        transition: 0.3s ease-in-out;
    }

        .card:hover {
            transform: scale(1.02);
        }

    .card-title {
        font-size: 1.2rem;
        color: #333;
    }

    .card-text {
        font-size: 1.8rem;
        font-weight: bold;
    }

    .shadow-sm {
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
</style>