@model List<HRBoost.Entity.User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>Personel Listesi</h2>

<a asp-action="Create" class="btn btn-primary">Yeni Personel Ekle</a>

<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Rol</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-warning">Düzenle</a>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<h1>Index</h1>

