@using HRBoost.UI.Areas.Admin.Models.VM
@model HRBoost.UI.Areas.Admin.Models.VM.UserViewModel


@{
    ViewData["Title"] = "Add";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
          
            <div class="card" style="border-color: #ddd;">
                <div class="card-header" style="background-color: #555; color: #fff;">
                    <h5 class="card-title">Kullanıcı Ekle</h5>
                </div>
              
                <div class="card-body">
                    <form method="post" action="/Admin/User/Add">
                       
                        <div class="form-group mb-2">
                            <label for="FirstName" class="form-label">Ad:</label>2
                            <input type="text" id="FirstName" name="FirstName"
                                   class="form-control" placeholder="Adınızı girin"
                                   value="@Model.FirstName" required />
                        </div>

                       
                        <div class="form-group mb-2">
                            <label for="LastName" class="form-label">Soyad:</label>
                            <input type="text" id="LastName" name="LastName"
                                   class="form-control" placeholder="Soyadınızı girin"
                                   value="@Model.LastName" required />
                        </div>

                        
                        <div class="form-group mb-2">
                            <label for="Email" class="form-label">Email:</label>
                            <input type="email" id="Email" name="Email"
                                   class="form-control" placeholder="E-posta adresinizi girin"
                                   value="@Model.Email" required />
                        </div>

                       
                        <div class="form-group mb-2">
                            <label for="Password" class="form-label">Şifre:</label>
                            <input type="password" id="Password" name="Password"
                                   class="form-control" placeholder="Şifrenizi girin" required />
                        </div>

                       

                      
                        <div class="form-group mb-2">
                            <label for="Status" class="form-label">Durum:</label>
                            <select id="Status" name="Status" class="form-select" required>
                                @foreach (var status in Enum.GetValues(typeof(HRBoost.Shared.Enums.Status)))

                                {
                                    <option value="@status" @(Model.  Status == status ? "selected" : "")>
                                        @status
                                    </option>
                                }
                            </select>
                        </div>

                        <!-- Ekle Butonu -->
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-dark btn-sm" style="background-color: #555; color: #fff;">
                                Ekle
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
