
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model HRBoost.Entity.User

<h2>Kullanıcı Güncelle</h2>
<form method="post" action="/Admin/User/Update">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div>
        <label>Ad:</label>
        <input type="text" name="FirstName" value="@Model.FirstName" required />
    </div>
    <div>
        <label>Soyad:</label>
        <input type="text" name="LastName" value="@Model.LastName" required />
    </div>
    <div>
        <label>Email:</label>
        <input type="email" name="Email" value="@Model.Email" required />
    </div>
    <div>
        <label>Durum:</label>
        <select name="Status" required>
            @foreach (var status in Enum.GetValues(typeof(HRBoost.Shared.Enums.Status)))
            {
                <option value="@status" @(Model.Status == (HRBoost.Shared.Enums.Status)status ? "selected" : "")>
                    @status
                </option>
            }
        </select>
    </div>
    <button type="submit">Güncelle</button>
</form>