@model IEnumerable<HRBoost.Entity.Expense>
@{
    ViewData["Title"] = "Expense List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-menu"></i> Expense List</h6>
    </div>
    <div class="panel-body">
        <a asp-action="Add" asp-controller="Expenses" asp-area="Personel" class="btn btn-primary">Expense Add</a>
        </a>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expense in Model)
                {
                    <tr>@* 
                        <td>@Areas_Personel_Views_Expenses_Index</td> *@
                        <td>@expense.Name</td>
                        <td>@expense.Quantity</td>
                        <td>@expense.Description</td>
                        <td>
                            <a asp-action="Delete" asp-controller="Expenses" asp-area="Personel" asp-route-id="@expense.Id" class="btn btn-danger">Sil</a>
                            <a asp-action="Update" asp-controller="Expenses" asp-area="Personel" asp-route-id="@expense.Id" class="btn btn-warning">Update</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>