@model IEnumerable<HRBoost.Entity.Expense>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Harcama Sayfası</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">WELCOME</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Harcama Ekle</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-controller="Expenses" asp-action="Add" asp-area="Personel">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Harcama Güncelle</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-action="Update" asp-area="Personel">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Onaylanan & Reddedilen</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Diğer</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-menu"></i> Harcama Listesi</h6>
    </div>
    <div class="panel-body">
        

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Miktar</th>
                    <th>Açıklama</th>
                    <th>Durum</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expense in Model)
                {
                    <tr>
                        
                        <td>@expense.Name</td>
                        <td>@expense.Quantity</td>
                        <td>@expense.Description</td>
                        <td>@expense.Status</td>
                            @if (expense.Status == HRBoost.Shared.Enums.Status.Pending)
                            {
                                <td>
                                    <a asp-action="Delete" asp-controller="Expenses" asp-area="Personel" asp-route-id="@expense.Id" class="btn btn-danger">Sil</a>
                                    <a asp-action="Update" asp-controller="Expenses" asp-area="Personel" asp-route-id="@expense.Id" class="btn btn-warning">Güncelle</a>
                                </td>
                            }
                        </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    <a asp-controller="Home" asp-action="Index" asp-area="Personel" class="btn btn-secondary">Geri</a>
