@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<HRBoost.Entity.User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Personel Listesi
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Email</th>
                    <th>Statü</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Email</th>
                    <th>Statü</th>
                    <th>İşlemler</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>@user.Status</td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-warning">Düzenle</a>
                            <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Sil</a>
                            @if (@user.Status == HRBoost.Shared.Enums.Status.Active)
                            {
                                <a asp-action="Freeze" asp-route-id="@user.Id" class="btn btn-secondary">Dondur</a>
                            }
                            else
                            {
                                <a asp-action="Unfreeze" asp-route-id="@user.Id" class="btn btn-success">Aktif</a>

                            }
                            <a asp-action="Index" asp-controller="Debit" asp-route-id="@user.Id" class="btn btn-primary">Zimmet</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<a asp-action="Create" class="btn btn-primary">Yeni Personel Ekle</a>
<a asp-controller="Home" asp-action="Index" asp-area="BusinessManager" class="btn btn-secondary">Geri</a>



